[user]
  name = z@kuro
  email = z@kuro.red
[core]
  editor = vim -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
	autocrlf = input
[alias]
# shortened format commands
  a    = add
  ad   = add .
  ba   = branch
  bad  = branch -D
  bam  = branch -m
  c    = commit
  ca   = commit --amend
  co   = checkout
  cob  = checkout -b
  com  = !git checkout ${GIT_DEFAULT_BRANCH:-master}
  d = dif
  dif = !zsh -c 'source ~/.zsh/git.zsh && git-less-diff'
  dih = !zsh -c 'source ~/.zsh/git.zsh && git-less-diff HEAD'
  dib = !zsh -c 'source ~/.zsh/git.zsh && git-less-diff HEAD~'
  l = log --no-merges --date=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Creset%s %Cred%d %C(cyan)%b'
  me   = merge
  mem  = !git merge ${GIT_DEFAULT_BRANCH:-master}
  ps   = push
  pso  = push origin
  psof = push origin -f
  pl   = pull
  plo  = pull origin
  plom = !git pull origin ${GIT_DEFAULT_BRANCH:-master}
  re   = rebase
  rei  = rebase -i
  rea  = rebase --abort
  rec  = rebase --continue
  res  = rebase --skip
  rem  = !git rebase ${GIT_DEFAULT_BRANCH:-master}
  s    = status .
  sall = status
  sa   = stash
  sak  = stash -k
  sal  = stash list
  sap  = stash pop
  sad  = stash drop

[push]
  default = current
